@model Calculator

@{
    ViewData["Title"] = "Tip Calculator";
}

<div asp-validatio-summary="All"></div>
<form method="post" asp-action="Index">

    <div>
        <label asp-for="MealCost">Cost of Meal:</label>
        <input asp-for="MealCost" />
    </div>

    <div>
        <label>15%:</label>
        <label>@ViewBag.Fifteen.ToString("c2")</label>
    </div>
    <div>
        <label>20%:</label>
        <label>@ViewBag.Twenty.ToString("c2")</label>
    </div>
    <div>
        <label>25%:</label>
        <label>@ViewBag.Twentyfive.ToString("c2")</label>
    </div>

        <div>

        <button type="Submit">Calculate</button>
        <a asp-action="index">Clear</a>
    </div>
</form>
